.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.container > * {
    width: 80%;
}

.button {
    margin-top: 1em;
    width: 30%;
}