.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.modalContainer {
    width: 500px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 10px 14px -9px #000000;
    box-sizing: border-box;
}